.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5em 1em;
  text-align: center;
  &__heading {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  &__text {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2.25em 0.5em;
    @include media-tablet {
      font-size: 1.25rem;
      width: 37.25em;
    }
  }

  &__illustration {
    margin-top: 6.25em;
    padding: 0 1.5em;
    width: 100%;
    @include media-desktop {
      padding: 0 12.5em;
    }
  }
}
