$min-tablet-width: 767px;
$min-desktop-width: 1023px;
$min-wide-desktop-width: 1439px;

@mixin media-tablet {
  @media screen and (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin media-wide {
  @media screen and (min-width: $min-wide-desktop-width) {
    @content;
  }
}
